[DATABASE]
SQLITE = database.sqlite

[SERIAL]
PORT = /dev/ttyACM0
BAUD_RATE = 921600
TIMEOUT = 1

[SERVERCHAN]
SENDKEY =

[MAIL]
SMTP_SERVER = mail.qq.com
SMTP_PORT = 25
ACCOUNT = example@qq.com
PASSWORD = password
MAIL_TO = example@qq.com
TLS = false

[FEISHU_WEBHOOK]
WEBHOOK_URL = 
SECRET = 

[WECOM_APP]
URL = https://qyapi.weixin.qq.com
CORPID = 
CORPSECRET = 
AGENTID = 
TOUSER = 

[NOTIFICATION]
CHANNELS = feishu_webhook, wecom_app
